<html>
<head>
  <title>MakersBnB</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <style>
    body {
      background-color: #83ead2;
    }
  </style>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">MakersBnB</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/login">Log in</a>
      </li>
      <li>
        <a href="/space">Spaces</a>
      </li>
      <li>
        <a href="/createspace">List spaces</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="jumbotron"  style="padding:40px;">
      <h2>List a new space</h2>
      <p><!DOCTYPE html>
      <html lang="en" dir="ltr">
        <head>
          <meta charset="utf-8">
          <title></title>
        </head>
        <body>
        <div class="">
          <form class="" action="/createspace" method="post">
            <input type="text" name="title" placeholder="Title">
            <input type="text" name="description" placeholder="Description">
            <input type="text" name="datesavailable" placeholder="Dates">
            <input type="text" name="price" placeholder="Price">
            <input type="submit" name="post" placeholder="Post">
          </form>
        </div>
        </body>
      </p></div>
      </div>
      </body>
      </html></p>

    </div>
  </div>
</body>
</html>
