<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h1> MakersBnB </h1>
  <div class="">
    <form class="" action="index.html" method="post">
      <input type="text" name="title" value="Title">
      <input type="text" name="description" value="Description">
      <input type="text" name="dates-available" value="Dates">
      <input type="text" name="price" value="Price">
      <input type="submit" name="post" value="Post">
    </form>
  </div>
  </body>
</html>
